@media all and (max-width: 480px){

    .header{
        flex-direction: column;
        width: auto;
        font-size: 1em;
    }

    .header__logo{
        position: absolute;
        left: 20px;
    }

    .nav__link--signup{
        text-align: end;
        margin-left: 0px;
        margin-right: 20px;
        margin-top: 30px;
    }

    nav {
        display: flex;
        flex-direction: column-reverse;
        justify-content: flex-end;
    }
    
    nav li{
        display: flex;
        justify-content: center;
        width: 50%;
        box-shadow: inset 0px -3px 0px 0px #f2f2f2;
        padding-bottom: 10px;
    }

    nav li:hover{
        box-shadow: inset 0px -3px 0px 0px #0065FC;
    }

    .nav__link:hover{
        color: #0065FC;
        box-shadow: none;
    }

    nav li:active{
        box-shadow: inset 0px -3px 0px 0px #0065FC;
    }

    

    .find{
        width: auto;
        align-items: flex-start;
        padding-left: 20px;
    }

    .find__title{
        font-size: 1.41em;
    }

    .find__subtext{
        margin-top: 10px;
        font-size: 1em;

    }

    .textbox{
        margin-top: 30px;
        width: auto;
    }

    .textbox__mapmarker{
        height: 50px;
        width: 50px;
    }

    .textbox__input{
        min-width: 240px;
        width: auto;
        height: 50px;
    }

    .textbox__button{
        height: 50px;
        width: 50px;
        border-radius: 15px;
        margin-left: -12px;
    }

    .textbox__button__text{
        display: none;
    }

    .textbox__search-icon{
        display: initial;
    }

    .filter{
        display: flex;
        flex-flow: column nowrap;
        align-items: flex-start;
        width: auto;
    }

    .filter__buttons{
        height: auto;
        width: auto;
        flex-flow: row wrap;
        margin-left: 15px;
        margin-top: 10px;
    }

    .filter__button{
        margin-bottom: 10px;
    }

    .infos{
        font-size: 1.1em;
        margin-bottom: 20px;
    }

    /* ------------------- 2e section ---------------------------- */

    #lodging{
        flex-direction: column-reverse;
        width: auto;
    }

    .lodging__right{
        width: 100%;
        border-radius: 0px;
        align-content: center;
        height: auto;
        padding-left: 20px;
        padding-right: 20px;
    }

    .lodging__right__text{
        width: 100%;
        margin: 0px auto 0px auto;
    }

    .popular-hotel{
        margin-bottom: 12px;
        margin-left: auto;
        margin-right: auto;
    }
    
    .lodging__left{
        height: auto;
        border-radius: 0px;
        width: auto;
        background-color: #FFFFFF;
        padding: 0;
        
    }

    .lodging__left__title{
        font-size: 1.4em;
        font-weight: 800;
        margin: 43px 0px 5px 15px;
    }

    .hotels{
        display: flex;
        flex-flow: column wrap;
        height: auto;
        width: auto;
        margin-left: auto;
        margin-right: auto;
        align-items: center;
        
    }

    .hotel{
        width: auto;
        min-width: 334px;
        min-height: 200px;
        margin-bottom: 10px;
    }

    .lodging__more{
        margin: 10px 0px 0px 20px;
        align-content: flex-start;
    }

    #activities{
        height: auto;
        padding-left: 10px;
    }

    .activities-list{
        height: auto;
    }

    .activity{
        max-height: 190px;
        min-height: 190px;
        min-width: 334px;
        width: 95%;
        margin: 0px auto 20px auto;
        border-radius: 15px;
    }

    .activity__image{
        object-position: 50% 20%;
        min-height: 134px;
        max-height: 134px;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
    }
    .activity:nth-child(1) .activity__image{
        object-position: 50% 19%;
        object-fit: cover;
    }

    .activity:nth-child(2) .activity__image{
        object-position: 50% 42%;
    }

    .activity:nth-child(3) .activity__image{
        object-position: 50% 18%;
        
    }
    .activity:nth-child(4) .activity__image{
        object-position: 50% 18%;
        object-fit: cover;
    }
    .activity:nth-child(5) .activity__image{
        object-position: 50% 18%;
    }

    .activity:nth-child(6) .activity__image{
        object-position: 50% 26%;
    }

    .activity__text{
        margin-top: 5px;
        height: 50px;
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
    }

    .activity__title{
        font-size: 1em;
        font-weight: 800;
    }

    .footer{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        width: auto;
        height: auto;
        padding-left: 20px;
        padding-top: 0;
    }

    .footer__list{
        width: auto;
        margin-top: 40px;
        margin-right: 0;
        margin-bottom: 0;
    }

    .footer__links{
        margin-top: 15px;
    }

}