* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Raleway', sans-serif; 
}

a{
    text-decoration: none;
    color: black;
}

ul{
    list-style-type: none;
}

#page_wrapper{
    max-width: 1340px;
    display: flex;
    flex-direction: column;
    margin: auto;
}

.header{
    display: flex;
    justify-content: space-between;
}

.header__logo{
    width: 100px;
    margin-top: 15px;
}

.nav__links{
    display: flex;
    font-size: 1em;
    font-weight: 400;
}

.nav__link{
    display: block;
    padding-top: 30px;
    width: 150px;
    text-align: center;
    font-weight: 500;
}

.nav__link:hover{
    box-shadow: inset 0px 2px 0px 0px #0065FC;
    color: #0065FC;
}

.nav__link--signup{
    color: #0065FC;
    font-weight: 700;
}

.nav__link:active{
    color: #0065FC;
}

.nav__link:active{
    box-shadow: inset 0px 2px 0px 0px #0065FC;
}

.find__title{
    font-weight: 700;
    font-size: 1.2em;
    margin-top: 25px;    
}

.find__subtext{
    font-size: 0.9em;
    margin-top: 7px; 
}

.textbox{
    display: flex;
    margin-top: 15px
}

.textbox__mapmarker{
    display: flex; 
    align-items: center;
    justify-content: center;
    background-color: #F2F2F2;
    height: 40px;
    width: 40px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.textbox__input{
    height: 40px;
    border-right: none;
    border: 1px solid #f2f2f2;
    padding-left: 10px;
    font-size: 0.85em;
    font-weight: 600;
}

.textbox__input::placeholder{
    font-family: 'Raleway', sans-serif;  
    color: black;
    font-weight: 800;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    
}

.textbox__input:focus{
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}


.textbox__button{
    background-color: #0065fc;
    height: 40px;
    width: 120px;
    color: white;
    font-size: 0.95em;
    font-weight: 600;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border: none;
    position: relative;
    cursor: pointer;
}

.textbox__search-icon{
    display: none;
}

.filter{
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
    margin-top: 25px;
}

.filter__buttons{
    display: flex;
    margin-left: 45px;

}

.filter__button{
    display: flex;
    align-items: center;
    margin-right: 40px;
    border: 1px solid #cccccc;
    background-color: white;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    overflow: hidden;
    cursor: pointer;
}

.filter__button__icon{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #DEEBFF;
    height: 44px;
    width: 44px;
    border-radius: 50%;
    color: #0065FC;
    position: absolute;
    margin-left: -20px;
}

.filter__button__text{
    display: flex;
    align-items: center;
    font-weight: 800;
    border-width: 2px;
    height: 40px;
    padding-right: 15px;
    padding-left: 30px;
}

.filter__button__text:hover{
    background-color: #0065FC;
    color: white;
}

.infos{
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.infos__icon{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #0065FC;
    background-color: #FFFFFF;
    border: 1px solid #cecece;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    font-size: 0.8em;
}

.infos__text{
    margin-left: 10px;
    font-size: 0.8em;
}

#lodging{
    display:flex;
    justify-content: space-between;
    margin-top: 30px;
}

.lodging__left{
    background-color: #F2F2F2;
    height: 620px;
    width: 880px;
    border-radius: 20px;
    padding: 43px 45px 0 45px;
}

.lodging__left__title{
    font-size: 1.3em;
    font-weight: 800;
}

.hotels{
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    height: 470px;
    width: auto;
    justify-content: space-between;
}

.hotel{
    background-color: white;
    box-shadow: 1px 1px 10px #80808080;
    border-radius: 20px;
    height: 200px;
    width: 245px;
    padding: 5px;
}

.hotel__image{
    height: 60%;
    width: 100%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    object-fit: cover;
}


.hotel__text{
    display: flex;
    flex-direction: column;
    font-size: 0.8em;
    height: 37%;
    padding-left: 10px;
    padding-top: 7px;
}

.hotel__title{
    font-weight: 700;
    margin: 0px;
}

.hotel__subtext{
    margin-top: 7px; 
}

.hotel__price{
    font-weight: 700;
}

.hotel__stars{
    display: flex;
    flex-direction: row;
    margin-top: auto;
}

.hotel__stars--blue{
    color: #0065FC;
}

.hotel__stars--grey{
    color: #ccc9c9;
}

.lodging__more{
    margin-top: 10px;
    font-weight: 700;
}

.lodging__right{
    height: 620px;
    width: 420px;
    background-color: #F2F2F2;
    border-radius: 20px;
    padding: 43px 35px 0 35px;
}

.lodging__right__text{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.lodging__right__title{
    font-size: 1.4em;
    font-weight: 800;
}

.lodging__right__icon{
    font-size: 1.2em;
}

.popular-hotels{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 86%;
    margin-top: 20px;

}

.popular-hotel{
    display: flex;
    height: 144px;
    width: 344px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 1px 1px 10px rgba(128,128,128,0.3);
    border-radius: 20px;
    padding: 5px;
}

.popular-hotel__image{
    width: 132px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    object-fit: cover;
}

.popular-hotel__text{
    display: flex;
    flex-direction: column;
    font-size: 0.85em;
    margin-left: 17px;
    margin-top: 10px;
    height: 110px;
    width: 140px;
}

.popular-hotel__subtext {
    margin-top: 7px;
}

.popular-hotel__price {
    font-weight: 700;
}

#activities{
    height: 500px;
    display: flex;
    margin-bottom: 60px;  
}

#activities h2{
    margin-top: 40px;
}

#activities a{
    color: black;
    width: 100%;
}

#activities_photos{
    height: 445px;
    display: flex;
    flex-flow: column wrap;
    justify-content:space-between;
    width: 100%;
}

.activities{
    box-shadow: 1px 1px 10px rgba(224, 224, 224, 0.5),1px 1px 10px rgb(224, 224, 224);
    border-radius: 10px;
    width: 300px;
    display: flex;
}

.activities_photo{
    background-repeat: no-repeat;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 100%;
}

.activities:nth-child(1), .activities:nth-child(4){
    height: 445px;  
}
.activities:nth-child(2){
    height: 235px;
}
.activities:nth-child(3){
    height: 165px;
}
.activities:nth-child(5){
    height: 195px;
}
.activities:nth-child(6){
    height: 210px;
}
.activities:nth-child(1) .activities_photo{
    height: 390px;
}
.activities:nth-child(2) .activities_photo{
    height: 180px;
    object-position: 50% 40%;
}
.activities:nth-child(3) .activities_photo{
    height: 110px;
    object-position: 50% 19%;
}
.activities:nth-child(4) .activities_photo{
    height: 390px;
    object-position: 50% 16%;
    filter: saturate(150%) brightness(107%) contrast(95%);
    background-size: 224% 118%;
}
.activities:nth-child(5) .activities_photo{
    height: 140px;
    object-position: 49% 0%;
}
.activities:nth-child(6) .activities_photo{
    height: 155px;
    object-position: 49% 10%;
}

.activities_text{
    height: 55px;
    padding-left: 20px;
    display: flex;
    align-items: center;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: white;
}


/* ------------- FOOTER ---------- */

footer{
    background-color: #F2F2F2;
    width: 100%;

}

#footer_block{
    display: flex;
    max-width: 1340px;
    width: auto;
    margin: auto;
    justify-content: flex-start;

}

footer h3{
    margin-top: 45px;

}

footer a{
    color: black;
}

footer ul{
    padding: 0px;
    margin-top: 0px;
    margin-bottom: 30px;
    margin-right: 200px;
}

footer li{
    margin-bottom: 10px;
}

.footer{
    display: flex;
    flex-direction: column;
    align-content: flex-start;
}