@media all and (min-width: 481px) and (max-width: 1320px){
    #page_wrapper{
        width: auto;
        padding-left: 20px;
        padding-right: 20px;
    }

    .filter{
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        font-weight: 800;
        width: auto;
        margin-top: 20px;
    }

    .filter__buttons{
        height: auto;
        width: auto;
        flex-flow: row wrap;
        margin-left: 15px;
        margin-top: 10px;
    }

    .filter__button{
        margin-bottom: 10px;
    }

    #lodging{
        flex-flow: column wrap;
        width: auto;
        height: auto;
    }

    .lodging__left{
        flex-direction: column;
        align-items: flex-start;
        padding-top: 30px;
        padding-bottom: 20px;
        height: auto;
        width: 100%;
    }

    .hotels{
        height: auto;
        justify-content: space-between;
    }

    .hotel{
        width: 48%;
        min-width: 300px;
        min-height: 250px;
        margin-bottom: 20px;
    }

    .lodging__right{
        display: flex;
        flex-flow: column;
        height: auto;
        width: 100%;
        margin-top: 10px;
        padding-top: 30px;
    }

    .popular-hotels{
        width: 100%;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
    }

    .popular-hotel{
        display: flex;
        flex-direction: column;
        min-width: 310px;
        width: 100%;
        height: 300px;
        margin-bottom: 20px;
        padding-right: 5px;
    }

    .popular-hotel__image{
        width: 100%;
        height: 70%;
        border-top-left-radius: 20px;
        border-bottom-left-radius: 0;
        border-top-right-radius: 20px;
    }

    .popular-hotel__text{
        display: flex;
        flex-direction: column;
        align-items:flex-start;
        height: 30%;
        width: auto;
    }

    #activities{
        height: auto;
    }

    .activities-list{
        height: auto;
        flex-flow: row wrap;
        justify-content:space-between;
        width: auto;   
    }
    
    .activity{
        max-height: 250px;
        min-height: 250px;
        min-width: 300px;
        width: 48%;
        margin: 0px auto 20px auto;
    }
    
    .activity__image{
        min-height: 200px;
        max-height: 200px;
    }

    
    .activity__text{
        min-height: 50px;
        max-height: 50px;
    }

}



@media all and (min-width: 481px) and (max-width: 1041px){

    .hotel{
        width: 100%;
        min-width: 300px;
        height: 300px;
        margin-bottom: 15px;
        padding-bottom: 10px;
    }

    .hotel__image{
        height: 75%;
    }

    .hotel__text {
        height: 25%;
    }

    .activity{
        width: 95%;
        margin: 0px auto 20px auto;
    }
    
    .footer{
        display: flex;
        flex-direction: column;
        padding-left: 5%;
    }
    
    .footer__list{
        width: 100%;
    }

}

