body{
    font-family: 'Raleway', sans-serif;
    margin: auto;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header img{
    height: 60px;
}

ul{
    list-style-type: none;
}

nav ul{
    display: flex;
}

nav li{
    margin-right: 30px;
}

nav a{
    text-decoration: none;
    color: black;
    font-weight: 550;

}

nav a:hover{
    color: #0065FC;
    border-top: solid;
}

/* Les couleurs de la charte sont le bleu #0065FC, et sa version plus claire #DEEBFF ainsi que le gris pour le fond #F2F2F2.*/
section{
    display: flex;
    flex-flow: column;
}

#research_title{
    font-size: 0.9em;
}

#textbox{
    display: flex;
    align-items: center;
    height: 40px;
}

#textbox i{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F2F2F2;
    height: 40px;
    width: 40px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}
#textbox input{
    height: 34px;
}

#research_button{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #0065fc;
    height: 40px;
    width: 120px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    color: white;

}

#filter{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-weight: 600;

}
.filter_buttons{
    display: flex;
    align-items: center;
    justify-content:start;
    

}

.filter_buttons i{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #DEEBFF;
    height: 44px;
    width: 44px;
    border-radius: 50%;
    color: #0065FC;
    position: relative;
    left: 20px;
    
    
}
.filter_buttons p{
    display: flex;
    align-items: center;
    justify-content:start;
    border-style: solid solid solid none;
    border-width: 2px;
    height: 40px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    border-color: rgb(204, 204, 204);
    padding-right: 15px;
    padding-left: 30px;
}

#infos{
    display: flex;
    align-items: center;
}

#infos i{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #0065FC;
    background-color: #FFFFFF;
    border: 1px solid rgb(206, 206, 206);
    border-radius: 50%;
    height: 20px;
    width: 20px;
    font-size: 0.8em;
}

#infos p{
    padding-left: 10px;
    font-size: 0.9em;
}